@import "../../../../assets/scss/variabels";

.header-container {
  background-color: #001529;
  padding: 16px 24px;
  .user-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    li {
      list-style: none;
      padding: 8px 12px;
      color: black;
      text-decoration: none;
      &:hover {
        color: $primaryColor;
        background-color: #f9f9f9;
      }
    }
  }
  .icon-dropdown {
    &:hover {
      .user-dropdown {
        display: block;
      }
    }
  }
}
