.specifications {
  width: 100%;
  padding: 12px 0px;
  .spec-row {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #60b108;
    padding: 12px 0;
    .spec-title {
      flex: 1;
      color: #6b7280;
    }

    .spec-detail {
      color: #6b7280;
      flex: 1;
    }
  }
}
